*{
    margin: 0;
    padding: 0
    ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,0.55)), url(images/background.png);
    background-position: center;
    background-size: cover;
}
header{
    border: 2px solid red;
    width: 76%;
    margin: auto;
    padding: 25px;
}